<div class="col-md-12 issue">
    <div class="col-md-1 num-issue"></div>
    <div class="col-md-11 content-issue">
    <h2 class="title-issue">Mobile browsers are redirect to the home page.</h2>
        <p>When loading <code><%= from %></code> on a mobile, the browser is redirected to <code><%= to %></code> &em; it looks like it loses the path of the page the user was trying to reach.</p>
        <h3>why ?</h3>
        <p>Instead of landing on the content the user was trying to reach, the user arrives on the home page and is unlikely to find its way to the initial target.</p>
        <h3>how to fix it ?</h3>
        <p>When redirecting to a mobile-specific web site, make sure to set up redirects for each page towards its mobile equivalent, not just to the home page.</p>
    </div>
</div>
